body{
	font-size: 16px;
}
.box{
	display: flex;
}
.connectedSortable {
	border: 1px solid #eee;
	width: 450px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
}
.connectedSortable li {
	padding: 5px;
	width: 435px;
	cursor: grab;
}


select{
	border: 1;
    font-size: 16px;
    background: #f6f6f6;
}
input[type=number]{
	width: 33px;
	background: #f6f6f6;
	font-size: 16px;
	padding: 0;
    margin: 0;
	border: 1px #ccc solid;
}



.repair{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
}